[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairocffi = "==1.6.1"
cairosvg = "==2.7.1"
cffi = "==1.15.1"
click = "==8.1.7"
colorama = "==0.4.6"
cssselect2 = "==0.7.0"
defusedxml = "==0.7.1"
glob2 = "==0.7"
markdown-it-py = "==3.0.0"
mdurl = "==0.1.2"
pillow = "==10.0.0"
pycparser = "==2.21"
pygments = "==2.16.1"
rich = "==13.5.2"
shellingham = "==1.5.3"
termcolor = "==2.3.0"
tinycss2 = "==1.2.1"
typer = "==0.9.0"
typing-extensions = "==4.7.1"
webencodings = "==0.5.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
